

html, body{
    font-family: 'Jetbrains Mono';
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

input[type="checkbox"]:checked + label {
    background: rgb(54, 54, 54);
}

.switch{
    position: fixed;
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: #eb4034;
    box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    z-index: 999;
}

.header h1 a{
    text-decoration: none;
    position: relative;
    left: 50%;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.header .opties{
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 10%;
    width: 40%;
    height: 100%;
    color: rgb(255, 255, 255);
}


/* switch start */
.switchdiv{
    display: flex;
    width: 60px;
    height: 120px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}

.switchdiv i {
    color: yellow;  
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(70, 70, 70);
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(70, 70, 70);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* switch end*/



.header .opties h3 a{
    text-decoration: none;
    color: white;
}

.header .opties h3 a:hover{
    color: rgb(220, 220, 220);
}

.sub-header{
    position: relative;
    display: block;
    background-image: url('../img/1.jpg');
    width: 50%;
    height: 550px;
    overflow-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    top: 125px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.sub-header h1{
    padding: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 48px;
    font-weight: bold;
}
.sub-header h3{
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

.sub-header .knoppen{
    display: flex;
    justify-content: space-between;
}

.sub-header .knoppen .button1{
    border-radius: 5px;
    background-color: #eb4034;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 225px;
    height: 50px;
}

.sub-header .knoppen .button1:hover{
    background-color: #af3027;
}

.sub-header .knoppen .button2{
    border-radius: 5px;
    background-color: white;
    border: none;
    color: #eb4034;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 225px;
    height: 50px;
}
.sub-header .knoppen .button2:hover{
    background-color: rgb(228, 207, 207)
}

